# Python 的 50+ 練習：資料科學學習手冊

> 進階資料框操作

[數據交點](https://www.datainpoint.com) | 郭耀仁 <yaojenkuo@datainpoint.com>

## 練習題指引

- 練習題閒置超過 10 分鐘會自動斷線，只要重新點選練習題連結即可重新啟動。
- 第一個程式碼儲存格會將可能用得到的模組載入。
- 如果練習題需要載入檔案，檔案存放絕對路徑為 `/home/jovyan/data`
- 練習題已經給定函數、類別、預期輸入或參數名稱，我們只需要寫作程式區塊。同時也給定函數的類別提示，說明預期輸入以及預期輸出的類別。
- 說明（Docstring）會描述測試如何進行，閱讀說明能夠暸解預期輸入以及預期輸出之間的關係，幫助我們更快解題。
- 請在 `### BEGIN SOLUTION` 與 `### END SOLUTION` 這兩個註解之間寫作函數或者類別的程式區塊。
- 將預期輸出放置在 `return` 保留字之後，若只是用 `print()` 函數將預期輸出印出無法通過測試。
- 語法錯誤（`SyntaxError`）或縮排錯誤（`IndentationError`）等將會導致測試失效，測試之前應該先在筆記本使用函數觀察是否與說明（Docstring）描述的功能相符。
- 如果卡關，可以先看練習題詳解或者複習課程單元影片之後再繼續寫作。
- 執行測試的步驟：
    1. 點選上方選單的 File -> Save Notebook 儲存 exercises.ipynb。
    2. 點選上方選單的 File -> New -> Terminal 開啟終端機。
    3. 在終端機輸入 `python 18-advanced-dataframe-manipulations/test_runner.py` 後按下 Enter 執行測試。

In [ ]:
import sqlite3
import re
import pandas as pd

## 151. 載入 `01-21-2022.csv`

定義函數 `import_covid19_daily_report()` 將位於 `/home/jovyan/data/covid19` 路徑的 `01-21-2022.csv` 載入。

來源：<https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports>

- 運用絕對路徑。
- 使用 `pd.read_csv()` 函數。
- 將預期輸出寫在 `return` 之後。

In [ ]:
def import_covid19_daily_report() -> pd.core.frame.DataFrame:
    """
    >>> covid19_daily_report = import_covid19_daily_report()
    >>> covid19_daily_report.shape
    (4006, 14)
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 152. 各國確診、死亡人數

定義函數 `sum_confirmed_deaths_by_country_region()` 依照 `Country_Region` 變數加總 `Confirmed` 與 `Deaths`

- 使用 `import_covid19_daily_report()` 函數。
- 運用分組聚合。
- 將預期輸出寫在 `return` 之後。

In [ ]:
def sum_confirmed_deaths_by_country_region() -> pd.core.frame.DataFrame:
    """
    >>> confirmed_deaths_by_country_region = sum_confirmed_deaths_by_country_region()
    >>> confirmed_deaths_by_country_region
             Country_Region  Confirmed  Deaths
    0           Afghanistan     159516    7390
    1               Albania     244182    3292
    2               Algeria     232325    6468
    3               Andorra      33025     144
    4                Angola      95676    1884
    ..                  ...        ...     ...
    191             Vietnam    2110737   36443
    192  West Bank and Gaza     480583    5042
    193               Yemen      10585    1995
    194              Zambia     300587    3885
    195            Zimbabwe     227961    5288

    [196 rows x 3 columns]
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 153. 載入 `time_series_covid19_confirmed_global.csv`

定義函數 `import_covid19_time_series_confirmed()` 將位於 `/home/jovyan/data/covid19` 路徑的 `time_series_covid19_confirmed_global.csv` 載入。

來源：<https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series>

- 運用絕對路徑。
- 使用 `pd.read_csv()` 函數。
- 將預期輸出寫在 `return` 之後。

In [ ]:
def import_covid19_time_series_confirmed() -> pd.core.frame.DataFrame:
    """
    >>> covid19_time_series_confirmed = import_covid19_time_series_confirmed()
    >>> covid19_time_series_confirmed.shape
    (280, 735)
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 154. 轉置日期欄位與確診數

定義函數 `melt_covid19_time_series_confirmed()` 將 `time_series_covid19_confirmed_global.csv` 中 `Province/State`、`Country/Region`、`Lat`、`Long` 以外日期的欄位與其對應的確診數轉置為長格式的外觀，變數名稱分別取為 `Date`、`Confirmed`。

- 使用 `import_covid19_time_series_confirmed()` 函數。
- 使用 `pd.melt()` 函數。
- 將預期輸出寫在 `return` 之後。

In [ ]:
def melt_covid19_time_series_confirmed() -> pd.core.frame.DataFrame:
    """
    >>> melted_covid19_time_series_confirmed = melt_covid19_time_series_confirmed()
    >>> melted_covid19_time_series_confirmed.shape
    (204680, 6)
    >>> melted_covid19_time_series_confirmed
           Province/State      Country/Region        Lat        Long     Date  \
    0                 NaN         Afghanistan  33.939110   67.709953  1/22/20   
    1                 NaN             Albania  41.153300   20.168300  1/22/20   
    2                 NaN             Algeria  28.033900    1.659600  1/22/20   
    3                 NaN             Andorra  42.506300    1.521800  1/22/20   
    4                 NaN              Angola -11.202700   17.873900  1/22/20   
    ...               ...                 ...        ...         ...      ...   
    204675            NaN             Vietnam  14.058324  108.277199  1/21/22   
    204676            NaN  West Bank and Gaza  31.952200   35.233200  1/21/22   
    204677            NaN               Yemen  15.552727   48.516388  1/21/22   
    204678            NaN              Zambia -13.133897   27.849332  1/21/22   
    204679            NaN            Zimbabwe -19.015438   29.154857  1/21/22   

            Confirmed  
    0               0  
    1               0  
    2               0  
    3               0  
    4               0  
    ...           ...  
    204675    2110737  
    204676     480583  
    204677      10585  
    204678     300587  
    204679     227961  

    [204680 rows x 6 columns]
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 155. 以國家和日期分組

定義函數 `sum_confirmed_by_country_region_date()` 依照 `Country/Region`、`Date` 變數分組加總 `Confirmed`，並且將 `Date` 轉換為 `DatetimeIndex` 之後以 `Country/Region`、`Date` 排序。

- 使用 `melt_covid19_time_series_confirmed()` 函數。
- 運用分組聚合。
- 使用 `pd.to_datetime()` 函數。
- 將預期輸出寫在 `return` 之後。

In [ ]:
def sum_confirmed_by_country_region_date() -> pd.core.frame.DataFrame:
    """
    >>> confirmed_by_country_region_date = sum_confirmed_by_country_region_date()
    >>> confirmed_by_country_region_date.shape
    (143276, 3)
    >>> confirmed_by_country_region_date
           Country/Region       Date  Confirmed
    0         Afghanistan 2020-01-22          0
    1         Afghanistan 2020-01-23          0
    2         Afghanistan 2020-01-24          0
    3         Afghanistan 2020-01-25          0
    4         Afghanistan 2020-01-26          0
    ...               ...        ...        ...
    143271       Zimbabwe 2022-01-17     226460
    143272       Zimbabwe 2022-01-18     226460
    143273       Zimbabwe 2022-01-19     226887
    143274       Zimbabwe 2022-01-20     227552
    143275       Zimbabwe 2022-01-21     227961

    [143276 rows x 3 columns]
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 156. 載入 `time_series_covid19_deaths_global.csv`

定義函數 `import_covid19_time_series_deaths()` 將位於 `/home/jovyan/data/covid19` 路徑的 `time_series_covid19_deaths_global.csv` 載入。

- 運用絕對路徑。
- 使用 `pd.read_csv()` 函數。
- 將預期輸出寫在 `return` 之後。

In [ ]:
def import_covid19_time_series_deaths() -> pd.core.frame.DataFrame:
    """
    >>> covid19_time_series_deaths = import_covid19_time_series_deaths()
    >>> covid19_time_series_deaths.shape
    (280, 735)
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 157. 轉置日期欄位與死亡數並以國家和日期分組

定義函數 `sum_deaths_by_country_region_date()` 將 `time_series_covid19_deaths_global.csv` 中 `Province/State`、`Country/Region`、`Lat`、`Long` 以外日期的欄位與其對應的死亡數轉置為長格式的外觀，變數名稱分別取為 `Date`、`Deaths`。依照 `Country/Region`、`Date` 變數分組加總 `Deaths`，並且將 `Date` 轉換為 `DatetimeIndex` 之後以 `Country/Region`、`Date` 排序。

- 使用 `import_covid19_time_series_deaths()` 函數。
- 使用 `pd.melt()` 函數。
- 運用分組聚合。
- 使用 `pd.to_datetime()` 函數。
- 將預期輸出寫在 `return` 之後。

In [ ]:
def sum_deaths_by_country_region_date() -> pd.core.frame.DataFrame:
    """
    >>> deaths_by_country_region_date = sum_deaths_by_country_region_date()
    >>> deaths_by_country_region_date.shape
    (143276, 3)
    >>> deaths_by_country_region_date
           Country/Region       Date  Deaths
    0         Afghanistan 2020-01-22       0
    1         Afghanistan 2020-01-23       0
    2         Afghanistan 2020-01-24       0
    3         Afghanistan 2020-01-25       0
    4         Afghanistan 2020-01-26       0
    ...               ...        ...     ...
    143271       Zimbabwe 2022-01-17    5258
    143272       Zimbabwe 2022-01-18    5258
    143273       Zimbabwe 2022-01-19    5266
    143274       Zimbabwe 2022-01-20    5276
    143275       Zimbabwe 2022-01-21    5288

    [143276 rows x 3 columns]
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 158. 關聯確診與死亡的時間序列資料

定義函數 `merge_confirmed_deaths_time_series()` 將 `time_series_covid19_confirmed_global.csv`、`time_series_covid19_deaths_global.csv` 轉置並關聯。

- 使用 `sum_confirmed_by_country_region_date()` 函數。
- 使用 `sum_deaths_by_country_region_date()` 函數。
- 使用 `pd.merge()` 函數。
- 將預期輸出寫在 `return` 之後。

In [ ]:
def merge_confirmed_deaths_time_series() -> pd.core.frame.DataFrame:
    """
    >>> confirmed_deaths_time_series = merge_confirmed_deaths_time_series()
    >>> confirmed_deaths_time_series.shape
    (143276, 4)
    >>> confirmed_deaths_time_series
           Country/Region       Date  Confirmed  Deaths
    0         Afghanistan 2020-01-22          0       0
    1         Afghanistan 2020-01-23          0       0
    2         Afghanistan 2020-01-24          0       0
    3         Afghanistan 2020-01-25          0       0
    4         Afghanistan 2020-01-26          0       0
    ...               ...        ...        ...     ...
    143271       Zimbabwe 2022-01-17     226460    5258
    143272       Zimbabwe 2022-01-18     226460    5258
    143273       Zimbabwe 2022-01-19     226887    5266
    143274       Zimbabwe 2022-01-20     227552    5276
    143275       Zimbabwe 2022-01-21     227961    5288

    [143276 rows x 4 columns]
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 159. 載入 `imdb.db` 的資料表

定義函數 `import_imdb_tables()` 利用所提供的 SQL 查詢將位於 `/home/jovyan/data/internet-movie-database` 路徑 `imdb.db` 中的三個資料表載入。

```sql
SELECT *
  FROM movies;
```

```sql
SELECT *
  FROM casting;
```

```sql
SELECT *
  FROM actors;
```

來源：<https://www.imdb.com/>

- 使用 `sqlite3.connect()` 函數。
- 使用 `pd.read_sql()` 函數。
- 將預期輸出寫在 `return` 之後。

In [ ]:
def import_imdb_tables() -> dict:
    """
    >>> imdb_tables = import_imdb_tables()
    >>> imdb_tables["movies"].shape
    (250, 6)
    >>> imdb_tables["casting"].shape
    (3584, 3)
    >>> imdb_tables["actors"].shape
    (3108, 2)
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 160. 黑暗騎士三部曲的演員名單

定義函數 `find_cast_of_dark_knight_trilogy()` 將黑暗騎士三部曲：Batman Begins、The Dark Knight 以及 The Dark Knight Rises 的演員名單回傳，可以參考 `movies`、`casting` 以及 `actors` 的實體關係圖。

![](imdb-erd.png)

- 使用 `import_imdb_tables()` 函數。
- 運用篩選資料列技巧。
- 使用 `pd.merge()` 函數，運用 `left_on` 與 `right_on` 參數指定關聯所依據的欄位。
- 將預期輸出寫在 `return` 之後。

In [ ]:
def find_cast_of_dark_knight_trilogy() -> pd.core.frame.DataFrame:
    """
    >>> cast_of_dark_knight_trilogy = find_cast_of_dark_knight_trilogy()
    >>> cast_of_dark_knight_trilogy.shape
    (45, 3)
    >>> cast_of_dark_knight_trilogy
                        title  ord                     name
    0           Batman Begins    1           Christian Bale
    1           Batman Begins    2            Michael Caine
    2           Batman Begins    3              Liam Neeson
    3           Batman Begins    4             Katie Holmes
    4           Batman Begins    5              Gary Oldman
    5           Batman Begins    6           Cillian Murphy
    6           Batman Begins    7            Tom Wilkinson
    7           Batman Begins    8             Rutger Hauer
    8           Batman Begins    9             Ken Watanabe
    9           Batman Begins   10        Mark Boone Junior
    10          Batman Begins   11             Linus Roache
    11          Batman Begins   12           Morgan Freeman
    12          Batman Begins   13             Larry Holden
    13          Batman Begins   14            Gerard Murphy
    14          Batman Begins   15          Colin McFarlane
    15        The Dark Knight    1           Christian Bale
    16        The Dark Knight    2             Heath Ledger
    17        The Dark Knight    3            Aaron Eckhart
    18        The Dark Knight    4            Michael Caine
    19        The Dark Knight    5        Maggie Gyllenhaal
    20        The Dark Knight    6              Gary Oldman
    21        The Dark Knight    7           Morgan Freeman
    22        The Dark Knight    8  Monique Gabriela Curnen
    23        The Dark Knight    9                 Ron Dean
    24        The Dark Knight   10           Cillian Murphy
    25        The Dark Knight   11                 Chin Han
    26        The Dark Knight   12         Nestor Carbonell
    27        The Dark Knight   13             Eric Roberts
    28        The Dark Knight   14           Ritchie Coster
    29        The Dark Knight   15     Anthony Michael Hall
    30  The Dark Knight Rises    1           Christian Bale
    31  The Dark Knight Rises    2              Gary Oldman
    32  The Dark Knight Rises    3                Tom Hardy
    33  The Dark Knight Rises    4     Joseph Gordon-Levitt
    34  The Dark Knight Rises    5            Anne Hathaway
    35  The Dark Knight Rises    6         Marion Cotillard
    36  The Dark Knight Rises    7           Morgan Freeman
    37  The Dark Knight Rises    8            Michael Caine
    38  The Dark Knight Rises    9           Matthew Modine
    39  The Dark Knight Rises   10           Alon Aboutboul
    40  The Dark Knight Rises   11           Ben Mendelsohn
    41  The Dark Knight Rises   12              Burn Gorman
    42  The Dark Knight Rises   13           Daniel Sunjata
    43  The Dark Knight Rises   14             Aidan Gillen
    44  The Dark Knight Rises   15              Sam Kennard
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 161. 載入 `總統-A05-4-候選人得票數一覽表-各投開票所(臺北市).xls`

定義函數 `import_spreadsheet_and_skiprows()` 將位於 `/home/jovyan/data` 路徑的 `總統-A05-4-候選人得票數一覽表-各投開票所(臺北市).xls` 載入。

來源：<https://db.cec.gov.tw/histMain.jsp?voteSel=20200101A1>

- 運用絕對路徑。
- 使用 `pd.read_excel()` 函數，指定參數 `skiprows=[0, 1, 3, 4]`
- 將預期輸出寫在 `return` 之後。

In [ ]:
def import_spreadsheet_and_skiprows() -> pd.core.frame.DataFrame:
    """
    >>> spreadsheet_and_skiprows = import_spreadsheet_and_skiprows()
    >>> spreadsheet_and_skiprows.shape
    (1741, 14)
    >>> spreadsheet_and_skiprows
         Unnamed: 0 Unnamed: 1  Unnamed: 2 (1)\n宋楚瑜\n余湘 (2)\n韓國瑜\n張善政  \
    0           總　計        NaN         NaN       70,769       685,830   
    1          　松山區        NaN         NaN        5,436        55,918   
    2           NaN        莊敬里       573.0           36           391   
    3           NaN        莊敬里       574.0           46           382   
    4           NaN        莊敬里       575.0           48           393   
    ...         ...        ...         ...          ...           ...   
    1736        NaN        泉源里       156.0           48           372   
    1737        NaN        湖山里       157.0           25           219   
    1738        NaN        湖山里       158.0           23           191   
    1739        NaN        大屯里       159.0           34           195   
    1740        NaN        湖田里       160.0           27           225   

         (3)\n蔡英文\n賴清德 Unnamed: 6 Unnamed: 7 Unnamed: 8  Unnamed: 9 Unnamed: 10  \
    0          875,854  1,632,453     21,381  1,653,834         143   1,653,977   
    1           64,207    125,561      1,762    127,323           2     127,325   
    2              429        856         14        870           0         870   
    3              438        866         12        878           0         878   
    4              389        830         22        852           0         852   
    ...            ...        ...        ...        ...         ...         ...   
    1736           721      1,141          8      1,149           0       1,149   
    1737           344        588          5        593           0         593   
    1738           282        496          7        503           0         503   
    1739           542        771         10        781           0         781   
    1740           350        602          4        606           0         606   

         Unnamed: 11 Unnamed: 12  Unnamed: 13  
    0        513,287   2,167,264      76.3098  
    1         37,329     164,654      77.3276  
    2            230       1,100      79.0909  
    3            259       1,137      77.2208  
    4            262       1,114      76.4811  
    ...          ...         ...          ...  
    1736         448       1,597      71.9474  
    1737         212         805      73.6646  
    1738         188         691      72.7931  
    1739         300       1,081      72.2479  
    1740         229         835      72.5749  

    [1741 rows x 14 columns]
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 162. 選擇前六個欄位

定義函數 `select_the_first_six_columns()` 將前六個欄位選擇出來，並將前三個欄位重新命名為 `town`、`village`、`office`

- 使用 `import_spreadsheet_and_skiprows()` 函數。
- 運用選擇欄位技巧。
- 運用 `DataFrame.columns.values`
- 將預期輸出寫在 `return` 之後。

In [ ]:
def select_the_first_six_columns() -> pd.core.frame.DataFrame:
    """
    >>> the_first_six_columns = select_the_first_six_columns()
    >>> the_first_six_columns
          town village  office (1)\n宋楚瑜\n余湘 (2)\n韓國瑜\n張善政 (3)\n蔡英文\n賴清德
    0      總　計     NaN     NaN       70,769       685,830       875,854
    1     　松山區     NaN     NaN        5,436        55,918        64,207
    2      NaN     莊敬里   573.0           36           391           429
    3      NaN     莊敬里   574.0           46           382           438
    4      NaN     莊敬里   575.0           48           393           389
    ...    ...     ...     ...          ...           ...           ...
    1736   NaN     泉源里   156.0           48           372           721
    1737   NaN     湖山里   157.0           25           219           344
    1738   NaN     湖山里   158.0           23           191           282
    1739   NaN     大屯里   159.0           34           195           542
    1740   NaN     湖田里   160.0           27           225           350

    [1741 rows x 6 columns]
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 163. 填補未定義值

定義函數 `fillna_for_towns()` 將 `town` 欄位中的 `np.nan` 以 `method="ffill"` 遇到未定義值就用前一個值來填補。

- 使用 `select_the_first_six_columns()` 函數。
- 使用 `Series.fillna(method="ffill")`
- 將預期輸出寫在 `return` 之後。

In [ ]:
def fillna_for_towns() -> pd.core.frame.DataFrame:
    """
    >>> na_filled_for_towns = fillna_for_towns()
    >>> na_filled_for_towns
          town village  office (1)\n宋楚瑜\n余湘 (2)\n韓國瑜\n張善政 (3)\n蔡英文\n賴清德
    0      總　計     NaN     NaN       70,769       685,830       875,854
    1     　松山區     NaN     NaN        5,436        55,918        64,207
    2     　松山區     莊敬里   573.0           36           391           429
    3     　松山區     莊敬里   574.0           46           382           438
    4     　松山區     莊敬里   575.0           48           393           389
    ...    ...     ...     ...          ...           ...           ...
    1736  　北投區     泉源里   156.0           48           372           721
    1737  　北投區     湖山里   157.0           25           219           344
    1738  　北投區     湖山里   158.0           23           191           282
    1739  　北投區     大屯里   159.0           34           195           542
    1740  　北投區     湖田里   160.0           27           225           350

    [1741 rows x 6 columns]
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 164. 移除未定義值

定義函數 `dropna_for_totals_and_subtotals()` 將臺北市總計、行政區小計等資料列移除。

- 使用 `fillna_for_towns()` 函數。
- 使用 `DataFrame.dropna()`
- 將預期輸出寫在 `return` 之後。

In [ ]:
def dropna_for_totals_and_subtotals() -> pd.core.frame.DataFrame:
    """
    >>> na_dropped_for_totals_and_subtotals = dropna_for_totals_and_subtotals()
    >>> na_dropped_for_totals_and_subtotals
          town village  office (1)\n宋楚瑜\n余湘 (2)\n韓國瑜\n張善政 (3)\n蔡英文\n賴清德
    2     　松山區     莊敬里   573.0           36           391           429
    3     　松山區     莊敬里   574.0           46           382           438
    4     　松山區     莊敬里   575.0           48           393           389
    5     　松山區     莊敬里   576.0           43           389           462
    6     　松山區     東榮里   577.0           38           431           545
    ...    ...     ...     ...          ...           ...           ...
    1736  　北投區     泉源里   156.0           48           372           721
    1737  　北投區     湖山里   157.0           25           219           344
    1738  　北投區     湖山里   158.0           23           191           282
    1739  　北投區     大屯里   159.0           34           195           542
    1740  　北投區     湖田里   160.0           27           225           350

    [1728 rows x 6 columns]
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 165. 移除 `town` 欄位多餘的空白字元

定義函數 `str_strip_for_towns()` 將 `town` 欄位中的空白字元 `\u3000` 移除。

- 使用 `dropna_for_totals_and_subtotals()` 函數。
- 使用 `Series.str.strip()`
- 將預期輸出寫在 `return` 之後。

In [ ]:
def str_strip_for_towns() -> pd.core.frame.DataFrame:
    """
    >>> str_stripped_for_towns = str_strip_for_towns()
    >>> str_stripped_for_towns["town"].values
    array(['松山區', '松山區', '松山區', ..., '北投區', '北投區', '北投區'], dtype=object)
    >>> str_stripped_for_towns
         town village  office (1)\n宋楚瑜\n余湘 (2)\n韓國瑜\n張善政 (3)\n蔡英文\n賴清德
    2     松山區     莊敬里   573.0           36           391           429
    3     松山區     莊敬里   574.0           46           382           438
    4     松山區     莊敬里   575.0           48           393           389
    5     松山區     莊敬里   576.0           43           389           462
    6     松山區     東榮里   577.0           38           431           545
    ...   ...     ...     ...          ...           ...           ...
    1736  北投區     泉源里   156.0           48           372           721
    1737  北投區     湖山里   157.0           25           219           344
    1738  北投區     湖山里   158.0           23           191           282
    1739  北投區     大屯里   159.0           34           195           542
    1740  北投區     湖田里   160.0           27           225           350

    [1728 rows x 6 columns]
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 166. 轉置候選人欄位

定義函數 `melt_candidate_columns()` 將候選人欄位轉置為長格式的外觀，變數名稱分別取為 `candidate_info`、`votes`

- 使用 `str_strip_for_towns()` 函數。
- 使用 `pd.melt()` 函數。
- 將預期輸出寫在 `return` 之後。

In [ ]:
def melt_candidate_columns() -> pd.core.frame.DataFrame:
    """
    >>> melted_candidate_columns = melt_candidate_columns()
    >>> melted_candidate_columns.shape
    (5184, 5)
    >>> melted_candidate_columns
         town village  office candidate_info votes
    0     松山區     莊敬里   573.0   (1)\n宋楚瑜\n余湘    36
    1     松山區     莊敬里   574.0   (1)\n宋楚瑜\n余湘    46
    2     松山區     莊敬里   575.0   (1)\n宋楚瑜\n余湘    48
    3     松山區     莊敬里   576.0   (1)\n宋楚瑜\n余湘    43
    4     松山區     東榮里   577.0   (1)\n宋楚瑜\n余湘    38
    ...   ...     ...     ...            ...   ...
    5179  北投區     泉源里   156.0  (3)\n蔡英文\n賴清德   721
    5180  北投區     湖山里   157.0  (3)\n蔡英文\n賴清德   344
    5181  北投區     湖山里   158.0  (3)\n蔡英文\n賴清德   282
    5182  北投區     大屯里   159.0  (3)\n蔡英文\n賴清德   542
    5183  北投區     湖田里   160.0  (3)\n蔡英文\n賴清德   350

    [5184 rows x 5 columns]
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 167. 分割候選人資訊

定義函數 `split_candidate_info()` 將候選人資訊分割為 `number`、`candidates`

- 使用 `melt_candidate_columns()` 函數。
- 使用 `Series.str.split()`
- 運用迴圈。
- 運用文字方法、`re` 模組。
- 將預期輸出寫在 `return` 之後。

In [ ]:
def split_candidate_info() -> pd.core.frame.DataFrame:
    """
    >>> candidate_info = split_candidate_info()
    >>> candidate_info.shape
    (5184, 6)
    >>> candidate_info
         town village  office  number candidates votes
    0     松山區     莊敬里   573.0       1     宋楚瑜/余湘    36
    1     松山區     莊敬里   574.0       1     宋楚瑜/余湘    46
    2     松山區     莊敬里   575.0       1     宋楚瑜/余湘    48
    3     松山區     莊敬里   576.0       1     宋楚瑜/余湘    43
    4     松山區     東榮里   577.0       1     宋楚瑜/余湘    38
    ...   ...     ...     ...     ...        ...   ...
    5179  北投區     泉源里   156.0       3    蔡英文/賴清德   721
    5180  北投區     湖山里   157.0       3    蔡英文/賴清德   344
    5181  北投區     湖山里   158.0       3    蔡英文/賴清德   282
    5182  北投區     大屯里   159.0       3    蔡英文/賴清德   542
    5183  北投區     湖田里   160.0       3    蔡英文/賴清德   350

    [5184 rows x 6 columns]
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 168. 轉換欄位資料類型

定義函數 `transform_column_data_types()` 將欄位轉換為適當的資料類型。

- 使用 `split_candidate_info()` 函數。
- 使用 `Series.astype()`
- 使用 `Series.str.replace()`
- 將預期輸出寫在 `return` 之後。

In [ ]:
def transform_column_data_types() -> pd.core.frame.DataFrame:
    """
    >>> column_data_types_transformed = transform_column_data_types()
    >>> column_data_types_transformed.shape
    (5184, 6)
    >>> column_data_types_transformed.dtypes
    town          object
    village       object
    office         int64
    number         int64
    candidates    object
    votes          int64
    dtype: object
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 169. 以候選人分組

定義函數 `sum_votes_by_candidates()` 依照 `number`、`candidates` 分組加總 `votes`

- 使用 `transform_column_data_types()` 函數。
- 使用分組聚合技巧。
- 將預期輸出寫在 `return` 之後。

In [ ]:
def sum_votes_by_candidates() -> pd.core.series.Series:
    """
    >>> votes_by_candidates = sum_votes_by_candidates()
    >>> type(votes_by_candidates)
    pandas.core.series.Series
    >>> votes_by_candidates
    number  candidates
    1       宋楚瑜/余湘         70769
    2       韓國瑜/張善政       685830
    3       蔡英文/賴清德       875854
    Name: votes, dtype: int64
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 170. 以行政區、候選人分組

定義函數 `sum_votes_by_town_candidates()` 依照 `town`、`number`、`candidates` 分組加總 `votes`

- 使用 `transform_column_data_types()` 函數。
- 使用分組聚合技巧。
- 將預期輸出寫在 `return` 之後。

In [ ]:
def sum_votes_by_town_candidates() -> pd.core.frame.DataFrame:
    """
    >>> votes_by_town_candidates = sum_votes_by_town_candidates()
    >>> type(votes_by_candidates)
    pandas.core.frame.DataFrame
    >>> votes_by_candidates.shape
    (36, 4)
    >>> votes_by_town_candidates
       town  number candidates   votes
    0   中山區       1     宋楚瑜/余湘    6367
    1   中山區       2    韓國瑜/張善政   56491
    2   中山區       3    蔡英文/賴清德   79022
    3   中正區       1     宋楚瑜/余湘    4188
    4   中正區       2    韓國瑜/張善政   41461
    5   中正區       3    蔡英文/賴清德   48183
    6   信義區       1     宋楚瑜/余湘    5878
    7   信義區       2    韓國瑜/張善政   62353
    8   信義區       3    蔡英文/賴清德   70285
    9   內湖區       1     宋楚瑜/余湘    8356
    10  內湖區       2    韓國瑜/張善政   74437
    11  內湖區       3    蔡英文/賴清德   94269
    12  北投區       1     宋楚瑜/余湘    6443
    13  北投區       2    韓國瑜/張善政   59851
    14  北投區       3    蔡英文/賴清德   90060
    15  南港區       1     宋楚瑜/余湘    3409
    16  南港區       2    韓國瑜/張善政   30968
    17  南港區       3    蔡英文/賴清德   40969
    18  士林區       1     宋楚瑜/余湘    7185
    19  士林區       2    韓國瑜/張善政   65183
    20  士林區       3    蔡英文/賴清德  104881
    21  大同區       1     宋楚瑜/余湘    3463
    22  大同區       2    韓國瑜/張善政   24673
    23  大同區       3    蔡英文/賴清德   50006
    24  大安區       1     宋楚瑜/余湘    7534
    25  大安區       2    韓國瑜/張善政   85490
    26  大安區       3    蔡英文/賴清德   88977
    27  文山區       1     宋楚瑜/余湘    7502
    28  文山區       2    韓國瑜/張善政   82305
    29  文山區       3    蔡英文/賴清德   78129
    30  松山區       1     宋楚瑜/余湘    5436
    31  松山區       2    韓國瑜/張善政   55918
    32  松山區       3    蔡英文/賴清德   64207
    33  萬華區       1     宋楚瑜/余湘    5008
    34  萬華區       2    韓國瑜/張善政   46700
    35  萬華區       3    蔡英文/賴清德   66866
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION